* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background: #00000F;
    color: #FFFFF1;
    font-size: 30px;
    font-family: sans-serif;

}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vw;
}


/* nav bar */

nav {
    position: fixed;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    color: #FFFFFF;
    font-family: monospace;
}


/* about section*/

section.about .empty{
    flex-basis: 37.5vw;
    background: #FFFFFF;
    border-radius: 100px;
}

section.about article{
    flex: 1;
    display: flex;
    flex-direction : column;
}

section.about article .title{
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: blue;
    border-radius: 100px;
    padding: 6.27vw;
}

section.about article .description {
    flex:1;
    display: flex;
    align-items: center;
    background: pink;
    border-radius: 100px;
    padding: 6.27vw;
    color: black;
}

/* project section */
section.project article{
    display: flex;
    width: 100%;
}

section.project figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: lightgreen;
    border-radius: 100px;
}

section.project figure img{
    width:50%
}

section.project article .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: darkslategrey;
    border-radius: 100px;
    padding: 6.27vw;
}    

section.project.project-2 figure{
    background: lightcoral;
}
section.project.project-3 figure{
    background: aquamarine;
}

section.project.project-1 .text h2,
section.project.project-1 .text a{
    color: pink;
}
section.project.project-2 .text h2,
section.project.project-2 .text a{
    color: lightgreen;
}
section.project.project-3 .text h2,
section.project.project-3 .text a{
    color: lightcoral;
}

/* contact section */