* {
    box-sizing: border-box;
}

/* CSS variables */


html, body{
    --border-radius: 100px;

    margin: 0;
    padding: 0;
    background: #00000F;
    color: #FFFFF1;
    font-size: 30px;
    font-family: "Didact Gothic", serif;

}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vw - 100px);
    top: 100px;
}

section.sticky{
    position: sticky;
    margin-top: 100px;
}

section.full-screen{
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

/*                                                  fonts                   */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.didact-gothic-regular {
    font-family: "Didact Gothic", serif;
    font-weight: 400;
    font-style: normal;
}
  



/*                                                  nav bar               */
nav {
    position: fixed;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    color: #FFFFFF;
    font-family: monospace;
}

/*                                                about section         */

section.about .empty{
    flex-basis: 37.5vw;
    background: #FFFFFF;
    border-radius: var(--border-radius);
}

section.about article{
    flex: 1;
    display: flex;
    flex-direction : column;
}

section.about article .title{
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: blue;
    border-radius: var(--border-radius);
    padding: 6.27vw;
}

section.about article .description {
    flex:1;
    display: flex;
    align-items: center;
    background: pink;
    border-radius: var(--border-radius);
    padding: 6.27vw;
    color: black;
}

/*                                             project section              */
section.project article{
    display: flex;
    width: 100%;
}

section.project figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: lightgreen;
    border-radius: 100px;
}

section.project figure img{
    width:50%
}

section.project article .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1E201E;
    border-radius: 100px;
    padding: 6.27vw;
}    

section.project.project-2 figure{
    background: lightcoral;
}
section.project.project-3 figure{
    background: aquamarine;
}

section.project.project-1 .text h2,
section.project.project-1 .text a{
    color: pink;
}
section.project.project-2 .text h2,
section.project.project-2 .text a{
    color: lightgreen;
}
section.project.project-3 .text h2,
section.project.project-3 .text a{
    color: lightcoral;
}

/*                                          contact section */


section.contact article ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section.contact article ul li{
    list-style: none;
    margin-left: 50px;
}

section.contact article div h2{
    margin-left: 15vw;
}


section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(blue, lightgreen 20%,pink 70%, white);
    border-radius: var(--border-radius);
}

section.contact article{
    color: black;
}

/*                                          media query     */

@media only screen and (max-width: 768px) {
    html, body {
        --border-radus:50px;
        --gutter: 6.25vw;
    }

    h1{
        font-size:60px;
    }

}